.login {
  background-color: #0b1a38;
  border: 1px solid #3c99e4;
  border-radius: 5px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  height: 40px;
}

.login:hover {
  box-shadow: 3px 3px #3c99e4;
  transition: box-shadow 100ms ease, transform 200ms ease;
  color: #3c99e4;
}
